
.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: -38px;
}

.outer[_ngcontent-whd-c130] {
  width: 100%;
  position: relative;
  top: -5em;
  margin-bottom: -6em;
  z-index: 1;
}
.search{
  margin-top: -13vh;
}


.cities {
  margin-top: 8rem;
}

.heading1>p {
  font-size: 32px;
  font-weight: 700;
  margin: 24px 0px;
  padding-left: 4rem;
}

.card{
  width: 22%;
}
.citybody{
  display: flex;
  gap: 2em;
  padding: 25px;
  flex-wrap: wrap;
  justify-content: center;
}