
.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: -38px;
}

.outer[_ngcontent-whd-c130] {
  width: 100%;
  position: relative;
  top: -5em;
  margin-bottom: -6em;
  z-index: 1;
}
.search{
  margin-top: -13vh;
}


