.navbar-brand {
    display: flex;
    align-items: center;
}

.button-container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.button-container .btn {
    margin-right: 10px;
    background-color: transparent;
    border-color: transparent;
    color: black;
    padding: 0.5rem;
    box-shadow: none;
}

.slogan {
    font-size: 1.2rem;
    font-weight: bold;

}